

<%= form_tag(:action => 'index', :method => 'get') do %>
    <p>
      <%= text_field_tag('search', params[:search]) %>
      <%= submit_tag("Search") %>
    </p>
  <%end%>

<div class="preda-index">
	<h2>Preda list</h2>
	<hr >

	<div class="tabela">
		<div class="link">
			<%= link_to("Add new Preda", {:action => 'new'}, :class => 'action new') %>
		</div>
		
		<div class="find">
			<p> </p>
		</div>
		<table>
			<tr>
				<th>Position</th>
				<th>Name</th>
				<th>Visible</th>
				<th>Action</th>
			</tr>
			<tr>
				<% @banananas.each do |bananana| %>
				<td><%= bananana.position%></td>
				<td><%= bananana.name%></td>
				<td><%= bananana.visible ? "Yes" : "No" %></td>
				<td>
					<%= link_to("Show",   {:action => 'show',   :id => bananana.id}, :class => 'action show') %>
					<%= link_to("Edit",   {:action => 'edit',   :id => bananana.id}, :class => 'action edit') %>
					<%= link_to("Delete", {:action => 'delete', :id => bananana.id}, :class => 'action delete') %>
				</td>
			</tr>
			<%end%>
		</table>
	</div>
</div>